



*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://images.unsplash.com/photo-1553801613-932c79d34aa8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzZ8fGJhbmtpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    
}
h1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 120px;
    left: 30%;
    text-shadow: black;

}
button[type]{
    height: 50px;
    width: 120px;
    position: relative;
    top: 200px;
    left: 420px;
    background-color: black;
    color: white;
    border: 5px solid gold;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 4px 4px 8px white;
    margin: 20px;
}
button[type]:hover{
    transition: all 0.5s  linear 0.1s;
    transform: rotate(360deg);
    cursor: pointer;

}
.fa-solid{
    position: relative;
    left: 470px;
    top: 200px;
    color: white;
    z-index: 1;
}